// 两栏布局--float-margin法
// 需要固定宽度的块浮动,脱离文档流
// 而另一块设置一个大于该宽度的margin
// 需要注意两个块的顺序,需要固定宽度的在前
body {
    background: rgba(#ddd0d0, 0.8);
}

.side-bar {
    width: 365px;
    margin-right: 20px;
    float: right;
}

.page-content {
    min-width: 200px;
    padding-left: 20px;
    margin-right: 405px;
}


// 两栏布局--abolute-margin法
// 注释上面的的.siderbar{...}启用下面的
// 使用了absolute的块这时已经脱离了文档流,它与剩下的块无关了
// 这时候设置另一个块的margin就可以把自己压缩在两列中的另一列

// .side-bar {
//     position: absolute;
//     right: 20px;
//     width: 365px;
//     top: 60px;
// }




.navbar {
    width: 100%;
    height: 60px;
    background: #282222;
    img {
        height: inherit;
        margin-left: 60px;
    }
    ul {
        float: right;
        margin-right: 5x;
        li {
            float: left;
            margin-right: 22px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.wrapper {
    background: #fff;
    margin: 0 auto;
    max-width: 1300px;
    box-shadow: 1px 1px 0 2px rgba(0,0,0,0.3);
    padding: 20px 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

.first-post {
    p {
        text-indent: 2em;
    }
}

.another-post {
    ul {
        list-style-type: none;
    }
}

.pictures {
    .picture {
        display: inline-block;
        margin-bottom:  15px;
        margin-right: 15px;
        border: 1px solid #000;
        width: 120px;
        height: 150px;
        box-sizing: border-box;
        p {
            font-size: 0.8em;
            text-align: center;
            margin-bottom: 0px;
        }
        img {
            display: block;
            padding: 9px;
        }
    }
}

.last-post {
    table {
        width: 100%;
        border-collapse: collapse;
        td,th {
            border: 1px solid #c0c0c0;
            border-spacing: 0px;
        }
        tr:first-child {
            text-align: left;
            color: #fff;
            background: rgb(26, 27, 18);
        }
        tr:last-child {
            background: #c0c0c0;
        }
    }
}

.form {
    margin-top: 20px;
    padding: 20px;
    & > p {
        padding-left: 9px;
        border-left: 4px solid #c0c0c0;
    }
    p {
        width: 325px;
        margin: 0 auto;
        margin-bottom: 10px;
        &.tip {
            color: rgba(0,0,0,0.4)
        }
        label {
            width: 7em;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            margin-right: 10px;
        }
    }
    input[type="submit"] {
        display: block;
        height: 40px;
        background: #153eb8;
        border-radius: 10px;
        width: 100%;
        color: #fff;
    }
}

.footer {
    float:left;
    height: 100px;
    margin-top: 20px;
    background: #100;
    width: 100%;
    p{
        margin: 0;
        padding-top: 30px;
        color: #fff;
        text-align: center;
    }
}
